<!--The content below is only a placeholder and can be replaced. style="text-align:center"-->
 <!--img src="smiley.gif" alt="Smiley face" height="42" width="42"

<div>
  <navigation></navigation>
   <h1>
 {{getTitle()}}!
 
  </h1>
<messages></messages>
</div>
-->
<navigation></navigation>
<router-outlet></router-outlet>