<messagesForm (addMessage)="optimisticAdd($event)" (addMessagePs) = "pessimisticAdd()"></messagesForm>

<h2>
  List of messages
</h2>

<!--ul>
  <li *ngFor = "let key of messagesKeys">{{'message number '+key+' : ' + messages[key].body}}</li>
   
</ul-->
<ul class="list-group">
  <li class="list-group-item" *ngFor = "let key of messagesKeys">
  <button type="button" class="btn btn-danger" (click)="deleteMessage(key)">Delete</button>
  <a [routerLink] = "['/message', key]">  {{'message number '+key+' : ' + messages[key].body}}</a>
  </li>
   
</ul>

